body{
    background: #333333;
    color:#bbb;
}

.game-board{
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);;
    border: 1px solid red;
    width: 600px;
    height:600px;
    margin: 0  auto;
}

.box{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}